{% extends "base.html" %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Transaction History</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>

  <div class="transactions-graph-container">
    <canvas id="transactions-graph"></canvas>
  </div>

  <div class="table-responsive">
    <table id="transactions-table" class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Transaction Details</th>
          <th>Deposit Amount</th>
          <th>Withdrawal Amount</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in data.response.values() %}
        <tr>
          <td>{{transaction['DATE']}}</td>
          <td>{{transaction['TRANSACTION DETAILS']}}</td>
          <td>{{transaction[' DEPOSIT AMT ']}}</td>
          <td>{{transaction[' WITHDRAWAL AMT ']}}</td>
          <td>{{transaction['BALANCE AMT']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}