<script>
  $(document).ready(function () {
      $('#transactions-table').DataTable();

      var data = '{{data|tojson}}';
      data = JSON.parse(data);
      
      var balanceHistory = data.response;

      var values = Object.values(balanceHistory);

      console.log(balanceHistory)
      
      var labels = []
      var balances = []

      for(var i = 0; i < values.length; i++) {
        labels.push(values[i]["VALUE DATE"]);

        var balance = values[i]["BALANCE AMT"];
        balance = balance.trim();
        balance = balance.replace(/,/g, "")

        balances.push(-parseFloat(balance));
        // console.log(values[i])
      }

      var slicer = 100;

      var ctx = document.getElementById('transactions-graph').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels.slice(1).slice(-slicer),
          datasets: [{
            label: 'balance',
            data: balances.slice(1).slice(-slicer),
            backgroundColor: ['rgba(0, 159, 255, 0.2)'],
            borderColor: ['rgba(0, 159, 255, 1)'],
            borderWidth: 2,
            pointBorderWidth: 0,
            pointHitRadius: 0,
            pointRadius: 0,
          }]
        },
        options: {
          title: {
            display: true,
            text: "Past " + slicer + " Days" 
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          }
        }
      });
    });
</script>